section.section-inner.section-inner--sm.bg-celeste
   .container
      .title-section.title-section--mini.text-center
         h2.text-white Agencias afiliadas
      .owl-carousel.owl-agencias.owl-theme.owl-nav-2
         .item
            .agencia.item-carousel.text-white.text-center
               p.text-azul Funeraria Bon Valencia
               p Jr. Pallardeli 298 – Urb Razuri
               p Frente al Hospital de Alta complejidad
         .item
            .agencia.item-carousel.text-white.text-center
               p.text-azul Funeraria Bon Valencia
               p Jr. Pallardeli 298 – Urb Razuri
               p Frente al Hospital de Alta complejidad
         .item
            .agencia.item-carousel.text-white.text-center
               p.text-azul Funeraria Bon Valencia
               p Jr. Pallardeli 298 – Urb Razuri
               p Frente al Hospital de Alta complejidad
         .item
            .agencia.item-carousel.text-white.text-center
               p.text-azul Funeraria Bon Valencia
               p Jr. Pallardeli 298 – Urb Razuri
               p Frente al Hospital de Alta complejidad
         .item
            .agencia.item-carousel.text-white.text-center
               p.text-azul Funeraria Bon Valencia
               p Jr. Pallardeli 298 – Urb Razuri
               p Frente al Hospital de Alta complejidad
      p.text-center.mt-5: a.btn.btn-azul(href="./agencias-afiliadas.html") Ver todas las agencias
