footer.main-footer.bg-azul.text-white
   .container
      .row
         .col-md-3
            img.img-fluid(src="./img/image.jpg")
         .col-md-3
            section
               h2 Servicios
               ul.list-unstyled
                  li: a(href="#") Sepulturas
                  li: a(href="#") Servicios funerarios
                  li: a(href="#") Cremaciones
                  li: a(href="#") Servicios complementarios
         .col-md-3
            section
               h2 Dirección
               p.mb-1: strong Camposanto:
               p Km. 10.5 Carretera a Huanchaco<br>
                  | Huanchaquito Alto<br>
                  | Trujillo - Perú
               p.mb-1: strong OFICINA PRINCIPAL:
               p Av. América Norte No. 2195.<br>
                  | Urb. Quintanas - Trujillo
         .col-md-3
            section
               h2 Teléfonos y correo
               ul.list-unstyled
                  li
                     strong Central:
                     span 044-604170
                  li
                     strong 24 Horas:
                     span 970 762 104
                  li
                     strong Correo:
                     span: a(href="mailto:contacto@elremanso.com.pe") contacto@elremanso.com.pe
               ul.list-unstyled.d-flex
                  li
                     a(href="#") <i class="fab fa-facebook-f"></i>
                  li
                     a(href="#") <i class="fab fa-instagram"></i>
                  li
                     a(href="#") <i class="fab fa-youtube"></i>


      .row
         .col-md-12.text-center
            p.mb-5
               a(href="#")
                  img(src="./img/image.jpg" width="30px")
                  | Libro de reclamaciones
            p.small © 2017-2021 El Remanso. Todos los derechos reservados.
