footer.main-footer.bg-azul.text-white
   .container-fluid
      .row
         .col-md-3
            div.text-center.text-lg-start.mb-6.mb-lg-0
               img(src="./img/logo-white.png")
         .col-md-3
            section
               h2 Servicios
               ul.list-unstyled
                  li: a(href="#") Sepulturas
                  li: a(href="#") Servicios funerarios
                  li: a(href="#") Cremaciones
                  li: a(href="#") Servicios complementarios
         .col-md-3
            section
               h2 Dirección
               p.mb-0: strong CAMPOSANTO:
               p Km. 10.5 Carretera a Huanchaco<br>
                  | Huanchaquito Alto<br>
                  | Trujillo - Perú
               p.mb-1: strong OFICINA PRINCIPAL:
               p Av. América Norte No. 2195.<br>
                  | Urb. Quintanas - Trujillo
         .col-md-3
            section
               h2 Teléfonos y correo
               ul.list-unstyled.telefonos
                  li
                     strong CENTRAL:
                     span 044-604170
                  li
                     strong 24 HORAS:
                     span 970 762 104
                  li
                     strong CORREO:
                     span: a(href="mailto:contacto@elremanso.com.pe") contacto@elremanso.com.pe
               ul.list-unstyled.d-flex.social.justify-content-center.justify-content-lg-start.mt-4.mt-lg-0
                  li
                     a(href="https://www.facebook.com/ElRemansoCamposanto" target="_blank") <i class="fab fa-facebook-f"></i>
                  li
                     a(href="https://www.instagram.com/camposantoelremanso/" target="_blank") <i class="fab fa-instagram"></i>


      .row
         .col-md-12.text-center
            p.mt-lg-5.mb-lg-5.mt-0
               img.me-2(src="./img/svg/libro.svg")
               a(href="#") Libro de reclamaciones
            p.mb-3.small © 2017-2021 El Remanso. Todos los derechos reservados.
