header(class="main-header w-100")
   h1(class="d-none") #{pageTitle}
   .container-fluid
      .top-bar
         ul.list-unstyled.d-flex.justify-content-end.m-0
            li: a(href="servicios-del-dia.html") Servicios del día
            li: a(href="#") Comprobantes electrónicos
            li.social: a(href="#") <i class="fab fa-facebook-f"></i>
            li.social: a(href="#") <i class="fab fa-instagram"></i>
            li.social.d-none: a(href="#") <i class="fab fa-youtube"></i>
            li.social: a(href="#") <i class="fab fa-whatsapp"></i>
      .menu-bar
         .row.align-items-center
            .col-md-4.col-lg-5.d-none.d-lg-block
               nav(class="navbar navbar-expand-lg z-index-2 py-2")
                  div(class='collapse navbar-collapse')
                     ul.navbar-nav.d-flex.justify-content-around.w-100
                        li.nav-item
                           a.nav-link(href="./quienes-somos.html") Quiénes somos
                        li.nav-item
                           a.nav-link(href="#") Camposanto
                        li.nav-item
                           a.nav-link(href="./servicios.html") Servicios
            .col-md-4.col-lg-2
               div.text-lg-center.px-4.px-lg-0.d-flex.justify-content-between.d-lg-block.w-100
                  a(class='navbar-brand' href='./index.html')
                     img(src="./logo.svg" alt='Remanso')
                  div.d-flex.align-items-center
                     button.navbar-toggler.ml-auto.d-block.d-lg-none(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
                        <i class="fas fa-bars"></i>
               nav(class="menu-mobile" id="menuPrincipal")
                  div(class='px-4 collapse navbar-collapse' id='navbarNav')
                     ul.navbar-nav.d-flex.justify-content-around.w-100
                        li.nav-item
                           a.nav-link(href="./quienes-somos.html") Quiénes somos
                        li.nav-item
                           a.nav-link(href="#") Camposanto
                        li.nav-item
                           a.nav-link(href="./servicios.html") Servicios
                     ul.navbar-nav.d-flex.justify-content-around.w-100.d-block.d-md-none
                        li.nav-item
                           a.nav-link(href="./medios-de-pago.html") Medios de pago
                        li.nav-item
                           a.nav-link(href="./agencias-afiliadas.html") Agencias afiliadas
                        li.nav-item
                           a.nav-link(href="./contactenos.html") Contáctenos
            .col-md-4.col-lg-5.d-none.d-lg-block
               nav(class="navbar navbar-expand-lg z-index-2 py-2")
                  div(class='collapse navbar-collapse')
                     ul.navbar-nav.d-flex.justify-content-around.w-100
                        li.nav-item
                           a.nav-link(href="./medios-de-pago.html") Medios de pago
                        li.nav-item
                           a.nav-link(href="./agencias-afiliadas.html") Agencias afiliadas
                        li.nav-item
                           a.link-contactenos.nav-link(href="./contactenos.html") Contáctenos

   #inicio
