extends ../templates/template
append config
   - pageTitle= "Agencias afiliadas";
   - currentPage= "home";

append header

append main
   main.main-content
      .hero.hero--interna
         .container.w-100.h-100.position-relative
            .d-flex.align-items-center.justify-content-center.h-100
               .hero__texto
                  h1.text-white Agencias afiliadas
                  nav.breadcrumb
                     ol.breadcrumb
                        li.breadcrumb-item: a(href="./index.html") Inicio
                        li.breadcrumb-item.active Agencias afiliadas
         .hero__image
            picture
               source(srcset="./img/header/agencias-afiliadas.webp" type="image/webp")
               source(srcset="./img/header/agencias-afiliadas.jpeg" type="image/jpeg")
               img.cover(src="./img/header/agencias-afiliadas.jpeg" alt="Agencias afiliadas")
         .bg-onda
            img(src="./img/svg/onda1.svg")

      .section-inner.agencias-page
         .container
            .row
               .col-md-8.offset-md-2
                  .search-agencias.text-center
                     p: strong.text-celeste BUSCADOR
                     form.position-relative.form-agencias-search
                        .form-floating
                           input.form-control#input-search(type="text" placeholder="ej. Montecristo")
                           label(for="input-search") ingresar nombre de agencia
                        .btn-submit.position-absolute
                           input(type="submit" value="enviar")
            .row.mt-9.row-agencias
               .col-md-4
                  .agencia.item-page.text-center.rounded
                     p Funeraria Salas
                     p.mb-0 Jr. Pablo de Olavide 263 – Urb Razuri
                     p.small Frente al Hospital de Alta complejidad
                     div.d-flex.justify-content-center
                        a(href="#") <i class="fab fa-facebook-f"></i>
                        a(href="#") <i class="fab fa-whatsapp"></i>
               .col-md-4
                  .agencia.item-page.text-center.rounded
                     p Funeraria Salas
                     p.mb-0 Jr. Pablo de Olavide 263 – Urb Razuri
                     p.small Frente al Hospital de Alta complejidad
                     div.d-flex.justify-content-center
                        a(href="#") <i class="fab fa-facebook-f"></i>
                        a(href="#") <i class="fab fa-whatsapp"></i>
               .col-md-4
                  .agencia.item-page.text-center.rounded
                     p Funeraria Salas
                     p.mb-0 Jr. Pablo de Olavide 263 – Urb Razuri
                     p.small Frente al Hospital de Alta complejidad
                     div.d-flex.justify-content-center
                        a(href="#") <i class="fab fa-facebook-f"></i>
                        a(href="#") <i class="fab fa-whatsapp"></i>
               .col-md-4
                  .agencia.item-page.text-center.rounded
                     p Funeraria Salas
                     p.mb-0 Jr. Pablo de Olavide 263 – Urb Razuri
                     p.small Frente al Hospital de Alta complejidad
                     div.d-flex.justify-content-center
                        a(href="#") <i class="fab fa-facebook-f"></i>
                        a(href="#") <i class="fab fa-whatsapp"></i>
               .col-md-4
                  .agencia.item-page.text-center.rounded
                     p Funeraria Salas
                     p.mb-0 Jr. Pablo de Olavide 263 – Urb Razuri
                     p.small Frente al Hospital de Alta complejidad
                     div.d-flex.justify-content-center
                        a(href="#") <i class="fab fa-facebook-f"></i>
                        a(href="#") <i class="fab fa-whatsapp"></i>
               .col-md-4
                  .agencia.item-page.text-center.rounded
                     p Funeraria Salas
                     p.mb-0 Jr. Pablo de Olavide 263 – Urb Razuri
                     p.small Frente al Hospital de Alta complejidad
                     div.d-flex.justify-content-center
                        a(href="#") <i class="fab fa-facebook-f"></i>
                        a(href="#") <i class="fab fa-whatsapp"></i>
               .col-md-4
                  .agencia.item-page.text-center.rounded
                     p Funeraria Salas
                     p.mb-0 Jr. Pablo de Olavide 263 – Urb Razuri
                     p.small Frente al Hospital de Alta complejidad
                     div.d-flex.justify-content-center
                        a(href="#") <i class="fab fa-facebook-f"></i>
                        a(href="#") <i class="fab fa-whatsapp"></i>
               .col-md-4
                  .agencia.item-page.text-center.rounded
                     p Funeraria Salas
                     p.mb-0 Jr. Pablo de Olavide 263 – Urb Razuri
                     p.small Frente al Hospital de Alta complejidad
                     div.d-flex.justify-content-center
                        a(href="#") <i class="fab fa-facebook-f"></i>
                        a(href="#") <i class="fab fa-whatsapp"></i>
               .col-md-4
                  .agencia.item-page.text-center.rounded
                     p Funeraria Salas
                     p.mb-0 Jr. Pablo de Olavide 263 – Urb Razuri
                     p.small Frente al Hospital de Alta complejidad
                     div.d-flex.justify-content-center
                        a(href="#") <i class="fab fa-facebook-f"></i>
                        a(href="#") <i class="fab fa-whatsapp"></i>
            .row.mt-6
               .col-md-12
                  .d-flex.justify-content-center
                     <ul class="pagination">
                     <li class="page-item">
                     <a class="page-link" href="#" aria-label="Previous">
                     <span aria-hidden="true">&laquo;</span>
                     </a>
                     </li>
                     <li class="page-item"><a class="page-link" href="#">1</a></li>
                     <li class="page-item"><a class="page-link is-active" href="#">2</a></li>
                     <li class="page-item"><a class="page-link" href="#">3</a></li>
                     <li class="page-item">
                     <a class="page-link" href="#" aria-label="Next">
                     <span aria-hidden="true">&raquo;</span>
                     </a>
                     </li>
                     </ul>









append footer
