extends ../templates/template
append config
	- pageTitle= "Home";
	- currentPage= "home";

append header


append main
	main.main-content.py-7
		section
			.container
				h1 Home
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A asperiores dicta dolorum eius eligendi illum laboriosam maxime molestias, nesciunt non nostrum numquam obcaecati placeat qui quidem temporibus unde voluptatibus. Vel?


append footer
	//include ../includes/footer
