extends ../templates/template
append config
	- pageTitle= "Page 1";
	- currentPage= "page-1";

append header


append main
	main.main-content.py-7
		section
			.container
				h1 Page 1
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad esse voluptatem? Ad assumenda consectetur, debitis deleniti eum eveniet impedit iusto maxime minima modi nam praesentium rerum veritatis voluptas, voluptate.

append footer
	include ../includes/footer
