extends ../templates/template
append config
   - pageTitle= "Servicios del día";
   - currentPage= "home";

append header

append main
   main.main-content
      .hero.hero--interna
         .container.w-100.h-100.position-relative
            .d-flex.align-items-center.justify-content-center.h-100
               .hero__texto
                  h1.text-white Servicios del día
                  nav.breadcrumb
                     ol.breadcrumb
                        li.breadcrumb-item: a(href="./index.html") Inicio
                        li.breadcrumb-item.active Servicios del día
         .hero__image.hero--cover
            picture
               source(srcset="./img/header/servicios-de-dia.webp" type="image/webp")
               source(srcset="./img/header/servicios-de-dia.jpeg" type="image/jpeg")
               img.cover(src="./img/header/servicios-de-dia.jpeg" alt="Servicios")
         .bg-onda
            img(src="./img/svg/onda1.svg")

      section.section-inner
         .container
            .row
               .col-md-6
                  article.servicio-del-dia.position-relative.mb-5
                     div.image
                        img.img-fluid(src="./img/dia-sepelios.jpeg")
                     div.text-center.mt-n4
                        h2: a.btn.btn-azul.stretched-link(href="servicios-del-dia-sepelios.html") Sepelios
               .col-md-6
                  article.servicio-del-dia.position-relative.mb-5
                     div.image
                        img.img-fluid(src="./img/dia-velatorios.jpeg")
                     div.text-center.mt-n4
                        h2: a.btn.btn-azul.stretched-link(href="servicios-del-dia-velatorios.html") Velatorios
               .col-md-6
                  article.servicio-del-dia.position-relative
                     div.image
                        img.img-fluid(src="./img/dia-cremaciones.jpeg")
                     div.text-center.mt-n4
                        h2: a.btn.btn-azul.stretched-link(href="servicios-del-dia-cremaciones.html") Cremaciones
               .col-md-6
                  article.servicio-del-dia.position-relative
                     div.image
                        img.img-fluid(src="./img/dia-misas.jpeg")
                     div.text-center.mt-n4
                        h2: a.btn.btn-azul.stretched-link(href="servicios-del-dia-misas.html") Misas y Responsos


append footer
