extends ../templates/template
append config
   - pageTitle= "Servicios del día - Sepelios";
   - currentPage= "home";

append header

append main
   main.main-content
      .hero.hero--interna
         .container.w-100.h-100.position-relative
            .d-flex.align-items-center.justify-content-center.h-100
               .hero__texto
                  h1.text-white Servicios del día
                  nav.breadcrumb
                     ol.breadcrumb
                        li.breadcrumb-item: a(href="./index.html") Inicio
                        li.breadcrumb-item: a(href="./servicios-del-dia.html") Servicios del día
                        li.breadcrumb-item.active Velatorios
         .hero__image.hero--cover
            picture
               source(srcset="./img/header/servicios-de-dia.webp" type="image/webp")
               source(srcset="./img/header/servicios-de-dia.jpeg" type="image/jpeg")
               img.cover(src="./img/header/servicios-de-dia.jpeg" alt="Servicios del día")
         .bg-onda
            img(src="./img/svg/onda1.svg")

      section.section-inner
         .container
            .row
               .col-md-7
                  .bg-verde.rounded.p-4.p-lg-5.mb-5.mb-lg-0
                     .title-section.title-section--lg
                        h2.text-white Velatorios
                     .servicio-dia-item.bg-white.p-4.rounded.mb-4.text-azul
                        p.mb-1 PROSPERO EUCLIDES MENDEZ LUJAN
                        p
                           strong Plataforma :
                           |Santo Toribio<br>
                           strong Fecha :
                           |14-07-2021<br>
                           strong Hora:
                           |11:00 am
                     .servicio-dia-item.bg-white.p-4.rounded.text-azul
                        p.mb-1 MELITA ANGULO PIZARRO
                        p
                           strong Plataforma :
                           | Santo Marcos<br>
                           strong Fecha :
                           | 14-07-2021<br>
                           strong Hora:
                           | 16:30 pm
               .col-md-4.offset-md-1
                  .owl-carousel.owl-servicio-del-dia.owl-nav-3.px-4.px-lg-0
                     .item
                        img(src="./img/parque-cruz.jpeg")
                     .item
                        img(src="./img/parque-cruz.jpeg")
                     .item
                        img(src="./img/parque-cruz.jpeg")






append footer
