extends ../templates/template
append config
   - pageTitle= "Servicios";
   - currentPage= "home";

append header

append main
   main.main-content
      .hero.hero--interna
         .container.w-100.h-100.position-relative
            .d-flex.align-items-center.justify-content-center.h-100
               .hero__texto
                  h1.text-white Servicios
                  nav.breadcrumb
                     ol.breadcrumb
                        li.breadcrumb-item: a(href="./index.html") Inicio
                        li.breadcrumb-item.active Servicios
         .hero__image.hero--cover
            picture
               source(srcset="./img/header/servicios.webp" type="image/webp")
               source(srcset="./img/header/servicios.jpeg" type="image/jpeg")
               img.cover(src="./img/header/servicios.jpeg" alt="Servicios")
         .bg-onda
            img(src="./img/svg/onda4.svg")

      section.section-inner.bg-azul
         .container
            .owl-carousel.owl-servicios-2.owl-theme.owl-nav-1.px-5.px-lg-0
               .item
                  article.servicio.servicio--owl
                     .servicio__image
                        img(src="./img/sepulturas.jpeg")
                     .servicio__title
                        h2: a.stretched-link(href="./servicios-sepulturas.html") Sepulturas
               .item
                  article.servicio.servicio--owl
                     .servicio__image
                        img(src="./img/servicios-funerarios.jpeg")
                     .servicio__title
                        h2: a.stretched-link(href="./servicios-funerarios.html") Servicios funerarios
               .item
                  article.servicio.servicio--owl
                     .servicio__image
                        img(src="./img/cremaciones.jpeg")
                     .servicio__title
                        h2: a.stretched-link(href="./servicios-cremaciones.html") Cremaciones
               .item
                  article.servicio.servicio--owl
                     .servicio__image
                        img(src="./img/servicios-complementarios.jpeg")
                     .servicio__title
                        h2: a.stretched-link(href="./servicios-complementarios.html") Servicios complementarios

      include ../includes/solicitar-servicio

      include ../includes/agencias-afiliadas

append footer
