extends ../templates/template
append config
   - pageTitle= "Sepelios";
   - currentPage= "home";

append header

append main
   main.main-content
      .hero.hero--interna
         .container.w-100.h-100.position-relative
            .d-flex.align-items-center.justify-content-center.h-100
               .hero__texto
                  h1 Servicios
                  nav.breadcrumb
                     ul.list-unstyled.d-flex.m-0
                        li: a(href="./index.html") Inicio
                        li: a(href="./servicios.html") Servicios
                        li Sepulturas

      section.section-inner
         .container
            ul.list-unstyled.d-flex.justify-content-between.mb-5
               li: a.btn.btn-verde(href="#") Sepulturas
               li: a.btn.btn-azul(href="#") Servicios funerarios
               li: a.btn.btn-azul(href="#") Cremaciones
               li: a.btn.btn-azul(href="#") Servicios complementarios
         .container
            p Hermosos espacios ecológicos y perpetuos para recordar la memoria de nuestros seres queridos.
            .row
               .col-md-3.mb-4
                  div.d-flex.justify-content-end.nav-vertical
                     div.nav.flex-column.nav-pills.me-3(role="tablist" aria-orientation="vertical")
                        a.btn.btn-link.active.btn-gris-eee(data-bs-toggle="pill" data-bs-target="#sep_personal" role="tab") Sepultura Personal
                        a.btn.btn-link(data-bs-toggle="pill" data-bs-target="#sep_doble" role="tab") Sepultura Doble
                        a.btn.btn-link(data-bs-toggle="pill" data-bs-target="#sep_cuadruple" role="tab") Sepultura Cuádruple
                        a.btn.btn-link(data-bs-toggle="pill" data-bs-target="#sep_quintuple" role="tab") Sepultura Quíntuple
                        a.btn.btn-link(data-bs-toggle="pill" data-bs-target="#sep_ind_compartida" role="tab") Sepultura Individual Compartida

               .col-md-9.mb-4
                  div.d-flex.align-items-start
                     div.tab-content.bg-gris-eee.w-100.h-100.p-5
                        div.tab-pane.fade.show.active#sep_personal(role="tabpanel")
                           .row
                              .col-md-6
                                 p Características
                                 ul
                                    li Sepultura de una capacidad  bajo césped.
                                    li Sepultura Perpetua.
                                    li Sarcófago de concreto armado.
                                 p: a.btn.btn-celeste(href="#") Solicitar cotización
                              .col-md-6
                                 .owl-carousel.owl-servicio-galeria.owl-nav-1
                                    .item
                                       img(src="./img/image.jpg")
                                    .item
                                       img(src="./img/image.jpg")
                                    .item
                                       img(src="./img/image.jpg")

                        div.tab-pane.fade#sep_doble(role="tabpanel")
                           p doble
                        div.tab-pane.fade#sep_cuadruple(role="tabpanel")
                           p cuadruple
                        div.tab-pane.fade#sep_quintuple(role="tabpanel")
                           p quintuple
                        div.tab-pane.fade#sep_ind_compartida(role="tabpanel")
                           p individual compartida







append footer
