@import "mixin";

/* admin toolbar */
body.toolbar-horizontal {
   #toolbar-administration {
      position: relative;
      z-index: 9999;
   }

   .c-header {
      padding-top: 39px;
   }

   &.toolbar-tray-open {
      .c-header {
         padding-top: 79px;
      }
   }
}

/* local tast */
.local-task {
   ul {
      background: #eeeeee;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 1rem;

      li {
         a {
            margin: 0 .5rem;
            background: white;
            padding: .2rem 1rem;
         }
      }
   }
}

#spb-politicas {
   .spb_overlay {
      background-color: rgba(0, 0, 0, 1);
   }

   .spb-aceptar {
      display: flex;

      .spb-controls {
         position: relative;
         right: auto;
         left: 0;
      }
   }
}

.no-link {
   pointer-events: none;
   cursor: default;

   .stretched-link {
      &::after {
         display: none;
      }
   }
}

/**************************** placeholder forms *******/
::placeholder {
   color: rgba(0, 0, 0, 0.35) !important;
   opacity: 0 !important;
}

:-ms-input-placeholder {
   color: rgba(0, 0, 0, 0.35) !important;
}

.form-control {
   &:focus {
      &::placeholder {
         opacity: 0 !important;
      }
   }
}

/**************************** radio, check format *******/
.checkbox input[type="checkbox"] {
   opacity: 0;
   position: absolute;
}

.checkbox label {
   position: relative;
   display: inline-block;
   font-size: 90%;
   /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
   padding-left: 30px;
}

.checkbox label::before,
.checkbox label::after {
   position: absolute;
   content: "";
   /*Needed for the line-height to take effect*/
   display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox label::before {
   height: 18px;
   width: 18px;
   border: 2px solid black;
   left: 0;
   top: 0;
}

/*Checkmark of the fake checkbox*/
.checkbox label::after {
   height: 6px;
   width: 10px;
   border-left: 2px solid;
   border-bottom: 2px solid;
   transform: rotate(-45deg);
   left: 4px;
   top: 4px;
}

/*Hide the checkmark by default*/
.checkbox input[type="checkbox"] + label::after {
   content: none;
}

/*Unhide on the checked state*/
.checkbox input[type="checkbox"]:checked + label::after {
   content: "";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
/* .checkbox input[type="checkbox"]:focus+label::before {
    outline: rgb(59, 153, 252) auto 5px;
} */


.bounce {
   animation: bounce 2s infinite;
}

@keyframes bounce {
   0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
   }
   40% {
      transform: translateY(-30px);
   }
   60% {
      transform: translateY(-15px);
   }
}

/*********** reset bootstrap ***********/
.sticky-top {
   top: 80px;

   &.en-biblioteca-niveles {
      margin-top: 86px;
   }
}

/*********** custom css for theme - base *********/
body {
   font-weight: normal;
   overflow-x: hidden;

   &.visible_menu {
      &::before {
         content: '';
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         position: absolute;
         background-color: rgba(0, 0, 0, .75);
         z-index: 10;
      }
   }

   ul {
      li {
         a {
            &.text-link {
               color: gray;
            }
         }
      }
   }

   p,
   li,
   table {
      a {
         &.text-link {
            color: gray;
         }
      }
   }

   p {
      &:last-child {
         margin-bottom: 0;
      }
   }

   ol {
      li {
         line-height: 1.25;
      }

      &.list-format-1 {
         list-style: none;
         counter-reset: my-awesome-counter;
         margin: 0 0 1.5rem .5rem;
         padding: 0;

         li {
            counter-increment: my-awesome-counter;
            display: flex;
            margin-bottom: 1rem;

            &::before {
               content: 'â—';
               color: black;
               font-weight: bold;
               font-size: 1.5rem;
               margin-right: .75rem;
               line-height: 1;
               @include mobile {
                  font-size: 1rem;
               }
            }
         }
      }

      &.list-format-2 {
         counter-reset: list;
         margin: 0 0 1.5rem .5rem;
         padding: 0;

         li {
            list-style: none;
            display: flex;
            margin-bottom: 1rem;

            &::before {
               content: counter(list, lower-alpha) ".";
               counter-increment: list;
               color: black;
               font-weight: bold;
               font-size: 1.35rem;
               font-family: monospace;
               margin-right: .75rem;
               line-height: 1;
               @include mobile {
                  font-size: 1rem;
               }
            }
         }
      }

      &.list-format-3 {
         counter-reset: list;
         margin: 0 0 1.5rem .5rem;
         padding: 0;

         li {
            list-style: none;
            display: flex;
            margin-bottom: 1rem;

            &::before {
               content: counter(list, decimal) ".";
               counter-increment: list;
               color: black;
               font-weight: bold;
               font-size: 1.35rem;
               font-family: monospace;
               margin-right: .75rem;
               line-height: 1;
               @include mobile {
                  font-size: 1rem;
               }
            }
         }
      }

      &.list-format-cas {
         list-style: none;
         counter-reset: my-awesome-counter;
         margin: 0;
         padding: 0;

         li {
            display: flex;
            align-items: flex-start;
            margin-bottom: 1.5rem;

            p {
               * {
                  display: block;
                  line-height: 1.25;
               }

               strong {
                  margin-bottom: .4rem;
                  color: gray;
               }
            }

            &::before {
               content: "";
               color: gray;
               font-weight: normal;
               font-family: 'typoslab_irregular';
               font-size: 6rem;
               margin-right: 2.5rem;
               line-height: 1;
               @include mobile {
                  font-size: 5rem;
                  margin-right: 1.5rem;
               }
            }

            &:nth-child(1) {
               &::before {
                  content: 'C';
               }
            }

            &:nth-child(2) {
               &::before {
                  content: 'A';
               }
            }

            &:nth-child(3) {
               &::before {
                  content: 'S';
               }
            }
         }
      }
   }

   @include mobile {
      font-size: 1rem !important;
      .lead {
         font-size: 18px !important;
      }
   }
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: bold;
}

h2 {
   @include mobile {
      text-align: center;
   }
}

.h2 {
   @include mobile {
      font-size: 1.5rem;
   }
}

aside {
   h3 {
      letter-spacing: unset;
   }
}

img.cover {
   object-fit: cover;
   width: 100%;
   height: 100%;
}

a,
button,
input.form-submit {
   @include transition;

   &:hover {
      @include transition;
   }
}

.main-content {
   img.hover-efect {
      @include transition;

      &:hover {
         @include transition;
         transform: rotate(3deg);
      }
   }

   .row {
      > div {
         //margin-bottom: 30px;
         @include mobile {
            margin-bottom: 0;
         }
      }
   }
}

.section-inner {
   padding: 5rem 0;
}

/*********** custom css for theme *********/

.main-header {

}

.hero {
   background: lightblue;

   &.hero--home {
      height: 600px;

      .hero__texto {
         bottom: 4rem;
      }
   }

   &.hero--interna {
      height: 350px;
   }
}

.title-section {
   h2 {

   }
}

.main-footer {
   padding-top: 5rem;
}
